html, body {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


/* **********************
	SIMON GENERAL STYLES
   ********************** */
/* centers controls in center */
.simon-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-template-areas:
		"green	green	red		red"
		"green	green	red		red"
		"yellow	yellow	blue	blue"
		"yellow yellow	blue	blue";
}

button:focus { outline: none; } /* removes browser highlights on buttons */

button { font-size: 4vw; }


/* ***********************
	SIMON CONTROL BUTTONS
   *********************** */
.simon-control {
width: 22.5vw;
height: 22.5vw;
margin: -5px;
border: 5px solid #2c3e50;
}

#control-blue-button {
	background-color: #2980b9;
	border-radius: 5px 0 0 0;
	grid-column: 2;
	grid-row: 2;
}

#control-blue-button:active {
	background-color: #3498db;
}

#control-yellow-button {
	background-color: #f39c12;
	border-radius: 0 5px 0 0;
	grid-column: 3;
	grid-row: 2;
}

#control-yellow-button:active {
	background-color: #f1c40f;
}

#control-red-button {
	background-color: #c0392b;
	border-radius: 0 0 0 5px;
	grid-column: 2;
	grid-row: 3;
}

#control-red-button:active {
	background-color: #e74c3c;
}

#control-green-button {
	background-color: #27ae60;
	border-radius: 0 0 5px 0;
	grid-column: 3;
	grid-row: 3;
}

#control-green-button:active {
	background-color: #2ecc71;
}


/* ********************
	SIMON GAME BUTTONS
   ******************** */
.simon-button {
	width: 45vw;
	height: 45vw;
	margin: -5px;
	border: 5px solid #2c3e50;
}

/* simon-green-button */
#simon-green-button {
	background-color: #27ae60;
	border-radius: 5px 0 0 0;
	grid-area: green;
}

#simon-green-button:active {
	background-color: #2ecc71;
}

/* simon-red-button */
#simon-red-button {
	background-color: #c0392b;
	border-radius: 0 5px 0 0;
	grid-area: red;
}

#simon-red-button:active {
	background-color: #e74c3c;
}

/* simon-yellow-button */
#simon-yellow-button {
	background-color: #f39c12;
	border-radius: 0 0 0 5px;
	grid-area: yellow;
}

#simon-yellow-button:active {
	background-color: #f1c40f;
}

/* simon-blue-button */
#simon-blue-button {
	background-color: #2980b9;
	border-radius: 0 0 5px 0;
	grid-area: blue;
}

#simon-blue-button:active {
	background-color: #3498db;
}


/* ***************
	MEDIA QUERIES
   *************** */
@media (min-width: 800px) {
	.simon-control {
		width: 11vw;
		height: 11vw;
	}

	.simon-button {
		width: 22vw;
		height: 22vw;
	}

	button { font-size: 1.5vw; }
}
